- let siteName = 'ENICER'
- let pageTitle = ' '
- let currentPage=' '
- let metaDescription = 'ENICER es una empresa líder especializada en la planificación, diseño  de sistemas, suministro y servicios de reparación de equipos de energías renovables.'