block config 
  include config
include ../componentes/menu
include ../componentes/card-history

doctype
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="description" content= metaDescription)
    title= `${pageTitle} - ${siteName}`
    link(rel="stylesheet", href="css/style.css")
    block styles
  body.body-container
    block content
  block script