*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: sans-serif;
}
@import "basic/variables";
@import "basic/funtions";
@import "basic/class-basic";
@import "componentes/menu";
@import "componentes/scroll-top";
@import "componentes/card-history";
@import "componentes/contactUs";
@import "componentes/productos";
@import "componentes/paneles";
@import "componentes/panelType";


.header-container{
  margin-bottom: 2rem;
  margin-top: 1rem;
  align-items: center;
  &__menu{
    width: 70%;
  }
  &__logoContainer{
    width: 30%;
  }
  &__titleContainer{
    width: 60%;
    align-self: flex-end;
    margin: 1rem;
  }
  &__imgContainer{
    width: 40%;
  }
  &__img{
    width: 100%;
  }
  &__title{
    text-transform: uppercase;
    background: linear-gradient(green,yellow);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    font-size: 3rem;
  }
  &__subtitle{
    font-weight: lighter;
    font-size: 1.2rem;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(blue,green);
    -webkit-background-clip: text;
    color: transparent;
  }
}
.slider{
  width: 100%;
  &__img{
    width: 100%;
    height: 400px;
  }
}
.history-container{
  padding: 4rem 0;
  background-color: map-get($color-pages, color-grey-opacity);
  &__info{
    justify-content: center;
    align-items: center;
  }
  &__title{
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  &__subtitle{
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
  }
  &__linea{
    width: 20%;
    margin-left: 2.2rem;
    margin-bottom: 3rem;
  }
}
.footer-container{
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  background-color: map-get($color-pages, color-azul);
  background-image:img-url('bujia-panel.png');
  background: {
    repeat: no-repeat;
    position: right bottom;
  };
  &__infoContainer{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
  &__title{
    text-transform: capitalize;
    text-align: center;
    color: white;
    // background: linear-gradient(red,yellow);
    // -webkit-background-clip: text;
    // color: transparent;
    font-family: Arial, Helvetica, sans-serif;
  }
  &__menu,
  &__description{
    padding-left: 4rem;
    padding-top: 1rem;
  }
  &__description{
    padding-bottom: 2rem;
    line-height: 1.5;
    color:map-get($color-pages, color-grey);
  }
  &__redes{
    justify-content: space-around;
  }
  &__icons{
    font-size: 40px;
    margin-bottom: 4rem;
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: all .3s ease;
  }
  &__items{
    list-style: none;
    margin: 2rem 0;
  }
  &__description,
  &__link{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  &__link{
    color:map-get($color-pages, color-azul);
    background-color: map-get($color-pages, color-grey);
    padding: .5rem 2rem;
    border-radius: 10px;
    text-decoration: none;
    text-transform: capitalize;
    &:hover{
      color: map-get($color-pages, color-verde);
      background-color: map-get($color-pages, color-celeste-oscuro);
    }
  }
  &__footerTitle{
    margin-bottom: 1rem;
    font-weight: bold;
  }
  &__footerSpan{
    font-weight: lighter;
  }
}
.icon-twitter,
.icon-facebook{
  &:hover {
    color: map-get($color-pages, color-celeste-oscuro);
  }
}
.icon-youtube{
  &:hover {
    color: map-get($color-pages, color-red);
  }
}
// modo table
@media screen and (max-width: 1024px){
  .header-container{
    width: 100%;
    display: block;
    position: relative;
    &__logoContainer{
      display: none;
      width: 0;
    }
    &__menu{
      width: 100%;
    }
  }
  .history-container{
    width: 100%;
    margin-top: 2rem;
    &__title{
      font-size: 1.5rem;
      margin-left: 2rem;
    }
    &__paragraph{
      width: 100%;
      padding: 1rem 2rem;
    }
    &__imgContainer{
      width: 100%;
    }
  }
  .menu{
    margin-top: 50px;
    &__bar {
      display:block;
      width:100%;
      position: fixed;
      z-index: 9999999;
      top:0;
      background-color:map-get($color-pages, color-azul);
    }
    &__bar .menu__bt{
      display: block;
      padding: 20px 36px;
      color: #fff;
      overflow: hidden;
      font-size: 25px;
      font-weight: bold;
      text-decoration: none;
    }
    &__bar .menu__icons{
      float: right;
		  font-size: 40px;  
    }
    &__navigation{
      width: 80%;
      height: calc(100% - 80px);
      position: fixed;
      right:100%;
      margin: 0;
      top: 80px;
      background-image: img-url('logo-enicer-vertical.png');
      background: {
        size: 30%;
        repeat: no-repeat;
        position: right center;
      };
      background-color:map-get($color-pages, color-azul);
      overflow: scroll;
    }
    &__items{
      display: block;
      border-bottom:1px solid rgba(255,255,255,.5); 
      &:hover .menu__children{
        display: none;
      }
    }
    &__icons{
      color: white;
    }
    &__link{
      color: white;
      font-weight: bold;
      display: block;
    }
    &__children{
      width: 100%;
      position: relative;
    }
    &__linkChildren{
      margin-left:20px;
    }
    &__caret{
      float: right;
    }
  }
  .footer-container{
    width: 100%;
    padding: 0;
    background-image: img-url('nubes.png');
    background: {
      repeat: repeat;
      size: cover;
    };
    &__infoContainer{
      padding-top: 3rem;
      width: 100%;
      background-color: rgba(0, 0, 0,.8);
    }
    &__title{
      margin-bottom: 2rem;
    }
    &__description{
      margin: 2rem;
      padding: 0;
    }
    &__menu{
      margin-bottom: 2rem;
      padding: 0;
    }
    &__items{
      margin: 2rem 0;
    }
    &__footer{
      background-color: map-get($color-pages, color-grey-opacity);
      width: 100%;
    }
    &__footerTitle{
      color: map-get($color-pages, color-azul);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
    }
  }
  .contact-container{
    &__description{
      margin-bottom: 1rem;
    }
    &__contactenos{
      flex-direction: column-reverse;
    }
    &__redes-container,
    &__mapContainer{
      width: 100%;
    }
    &__map{
      height: 400px;
    }
    &__nameEmpresa,
    &__telefono{
      margin-right: 2rem;
    }
  }
  .product-container{
    &__info{
      width: 100%;
    }
  }
  .catalogo{
    &__description{
      width: 100%;
    }
    &__imgContainer{
      margin: 2rem;
    }
    &__title{
      padding: 1rem 1rem 1rem 2rem;
      font-size: 2rem;
    }
    &__price{
      padding-left: 4rem;
    }
    &__linea{
      margin-left: 4rem;
    }
    &__description{
      padding: 1rem 3rem 2rem;

    }
    &__btn{
      margin-left: 2rem;
    }
  }
  .specificationPanel{
    width: 100%;
    flex-direction: column;
    &__description-panel,
    &__structure{
      width:100%;
      margin: 0;
      padding: 0  1rem;
    }
    &__title{
      font-size: 1.5rem;
      text-align: center;
      margin-top: 1rem;
    }
    &__paragraph{
      margin: 0;
      font-size: 1rem;
      line-height: 1.5;
    }
    &__linea{
      margin-left: auto;
      margin-right: auto;
    }
    &__img-container-celda{
      width: 50%;
    }
  }
  .panel{
    width: 100%;
    padding: 1rem 0;
    &__title{
      text-align: center;
      margin-top: 2rem;
      padding: 0 2rem;
    }
    &__linea{
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    &__price{
      margin: 2rem 0;
      text-align: center;
    }
  }
}
@media screen and (max-width: 500px){
  .header-container{
    width: 100%;
    display: block;
    position: relative;
    &__logoContainer{
    display: none;
    }
    &__menu{
      width: 100%;
    }
  }
  .history-container{
    width: 100%;
    margin-top: 2rem;
    flex-direction: column;
    &__info,
    &__imgContainer{
      width: 100%;
    }
    &__img{
      width: 60%;
    }
    &__paragraph{
      width: 100%;
    }
    &__linea{
      width: 50%;
      margin-left: 2.2rem;
    }
  }
  .menu{
    margin-top: 50px;
    &__bar {
      display:block;
      width:100%;
      position: fixed;
      z-index: 9999999;
      top:0;
      background-color:map-get($color-pages, color-azul);
    }
    &__bar .menu__bt{
      display: block;
      padding: 20px 36px;
      color: #fff;
      overflow: hidden;
      font-size: 25px;
      font-weight: bold;
      text-decoration: none;
    }
    &__bar .menu__icons{
      float: right;
		  font-size: 40px;  
    }
    &__navigation{
      width: 80%;
      height: calc(100% - 80px);
      position: fixed;
      z-index: 999;
      right:100%;
      margin: 0;
      top: 80px;
      background-image: img-url('logo-enicer-vertical.png');
      background: {
        size: 50%;
        repeat: no-repeat;
        position: right center ;
      };
      background-color:map-get($color-pages, color-azul);
      overflow: scroll;
    }
    &__items{
      display: block;
      border-bottom:1px solid rgba(255,255,255,.5); 
      &:hover .menu__children{
        display: none;
      }
    }
    &__icons{
      color: white;
    }
    &__link{
      color: white;
      font-weight: bold;
      display: block;
    }
    &__children{
      width: 100%;
      position: relative;
    }
    &__linkChildren{
      margin-left:20px;
    }
    &__caret{
      float: right;
    }
  }
  .footer-container{
    width: 100%;
    padding: 0;
    background-image: img-url('nubes.png');
    background: {
      repeat: repeat;
      size: cover;
    };
    &__infoContainer{
      padding-top: 3rem;
      display: block;
      width: 100%;
      background-color: rgba(0, 0, 0,.8);
    }
    &__title{
      margin-bottom: 2rem;
    }
    &__description{
      margin-left: 2rem;
      padding: 0;
      text-align: center;
    }
    &__menu{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin-bottom: 2rem;
    }
    &__items{
      margin: 1rem 0;
    }
    &__footer{
      background-color: map-get($color-pages, color-grey-opacity);
      width: 100%;
    }
    &__footerTitle{
      color: map-get($color-pages, color-azul);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
    }
  }
  .contact-container{
    width: 100%;
    &__backgroundContactenos{
      height: 100px;
      margin: 2rem 0;
    }
    &__form{
      width: 100%;
    }
    &__formInfo{
      flex-direction: column;
      margin: 0 1rem;
    }
    &__nameEmpresa,
    &__namePersona,
    &__telefono,
    &__email{
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2rem;
    }
    &__mensaje{
      height: 200px;
      background: {
        size: 50%;
      };
    }
    &__contactenos{
      flex-direction: column-reverse;
    }
    &__redes-container,
    &__mapContainer{
      width: 100%;
    }
    &__subtitle{
      margin: 0 2rem;
    }
    &__description{
      margin-left: 3rem;
    }
    &__telefonosContainer{
      flex-direction: column;
    }
    &__map{
      height: 300px;
    }
  }
  .product-container{
    padding: 0;
    margin: 0;
    &__info{
      width: 100%;
    }
  }
  .catalogo{
    flex-direction: column-reverse;
    &__infoContainer,
    &__imgContainer,
    &__description{
      width: 100%;
    }
    &__imgContainer{
      margin: 0 0 3rem 0;
    }
    &__img{
      width: 100%;
      height: 400px;
    }
    &__title{
      padding: 1rem 1rem 1rem 2rem;
      font-size: 2rem;
    }
    &__price{
      padding-left: 4rem;
    }
    &__linea{
      margin-left: 4rem;
    }
    &__description{
      padding: 1rem 3rem 2rem;

    }
    &__btn{
      margin-left: 2rem;
    }
  }
  .specificationPanel{
    width: 100%;
    flex-direction: column;
    &__description-panel,
    &__structure{
      width:100%;
      margin: 0;
      padding: 0  1rem;
    }
    &__title{
      font-size: 1.5rem;
      text-align: center;
      margin-top: 1rem;
    }
    &__paragraph{
      margin: 0;
      font-size: 1rem;
      line-height: 1.5;
    }
    &__linea{
      margin-left: auto;
      margin-right: auto;
    }
  }
  .panel{
    flex-direction: column;
    width: 100%;
    padding: 1rem 0 0;
    &__information,
    &__img-container,
    &__img{
      width: 100%;
    }
    &__title{
      text-align: center;
      margin-top: 2rem;
      padding: 0 2rem;
    }
    &__linea{
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    &__subtitle{
      padding:0 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 1.5rem;
    }
    &__respuesta{
      margin-top: 1rem;
    }
    &__price{
      margin: 2rem 0 0;
      text-align: center;
      background-color: white;
      padding: 1rem;
    }
  }
}
