extends pages/include/template
append config
  -pageTitle= 'Contactenos'
prepend styles
  link(rel="stylesheet", href="css/fonts.css")
block content
  +scrollTop
  header.header-container.d-flex.container
    .header-container__logoContainer.d-flex
      figure.header-container__imgContainer
        img(src="img/logo-enicer-2.png", alt="").header-container__img
      .header-container__titleContainer
        h1.header-container__title enicer
        p.header-container__subtitle solucion energetica  
    .header-container__menu
      +menu
  section.contact-container.d-flex-direction
    .contact-container__backgroundContactenos
    .contact-container__form.container.d-flex-direction
      form(action="" method="method").contact-container__formInfo.d-flex
        input(type="text" placeholder="Nombre de la empresa").contact-container__nameEmpresa
        input(type="text" placeholder="Nombre del representante").contact-container__namePersona
      form(action="" method="method").contact-container__formInfo.d-flex
        input(type="tel", name="" placeholder="505 0000-0000" pattern="[0-9]{3} [0-9]{4}[-][0-9]{4}" title="Un número de teléfono válido consta de un código de área de 3 dígitos, un espacio, los cuatros primeros dígitos del número, un espacio o un guión (-) y cuatro dígitos más." required).contact-container__telefono
        input(type="email",placeholder="example@example.com" required).contact-container__email
      form(action="" method="method").contact-container__formTxtArea.d-flex
          textarea(name="" , placeholder="Mensaje").contact-container__mensaje
      button.contact-container__btn.buttonStyle enviar
    .contact-container__contactenos.d-flex
      .contact-container__mapContainer
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.7120465288835!2d-86.22556573587256!3d12.13184393603085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f73fe7968cf10e1%3A0x2bedf0a15b8c1207!2sVilla%20Austria%2C%20Managua!5e0!3m2!1ses-419!2sni!4v1567807040484!5m2!1ses-419!2sni" frameborder="0").contact-container__map
      .contact-container__redes-container.d-flex-direction
        h1.contact-container__title contactese con nosotro
        .contact-container__linea.border-linea
        .contact-container__redes
          h2.contact-container__subtitle #[span.contact-container__icons.icon-location2] ubicacion
          p.contact-container__description Entrada principal de villa austria 1/2c al norte
          .contact-container__telefonosContainer.d-flex
            .contact-container__convencional
              h2.contact-container__subtitle #[span.contact-container__icons.icon-phone] telefono
              p.contact-container__description +505 2222 - 2222
            .contact-container__celular
              h2.contact-container__subtitle #[span.contact-container__icons.icon-whatsapp] whatsapp
              p.contact-container__description +505 8888 - 8888
          h2.contact-container__subtitle #[span.contact-container__icons.icon-envelop] correo
          p.contact-container__description enicer-nic@gmail.com
  footer.footer-container.d-flex-direction
    .footer-container__infoContainer.d-grid.container
      .footer-container__aboutUs
        .footer-container__info
          h1.footer-container__title sobre nosotros
          p.footer-container__description
            | ENICER es una empresa líder especializada en la planificación, diseño de sistemas, suministro, instalación, mantenimiento preventivo y servicios de reparación de equipos de energías renovables, brindándole a sus clientes apoyo técnico total.
        .footer-container__redes.d-flex
          a(href="#").footer-container__icons.icon-facebook
          a(href="#").footer-container__icons.icon-whatsapp
          a(href="#").footer-container__icons.icon-youtube
      .footer-container__servicio
        .footer-container__info
          h1.footer-container__title servicios
          p.footer-container__description Venta de sistemas footovoltaicos, mantenimientos y soporte tecnico
      .footer-container__information
        h1.footer-container__title informacion
        ul.footer-container__menu
          li.footer-container__items: a(href="../public/contactUs.html").footer-container__link contactenos
          li.footer-container__items: a(href="#").footer-container__link preguntas frecuentes 
    .footer-container__footer
      p.footer-container__footerTitle | &copy; 2019 | ENICER S.A, #[span.footer-container__footerSpan la mejor solucion a tus problemas energeticos ]
block script
  script(src="http://code.jquery.com/jquery-latest.js")
  script(src="public/js/main.js")
  script(src="public/js/scrollTop.js")
