.contact-container{
  width: 100%;
  &__backgroundContactenos{
    height: 300px;
    background-image: img-url('contactenos.png');
    background: {
      repeat: no-repeat;
      size: 50%;
      position: center;
    };
  }
  &__form{
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  &__formInfo{
    margin: 1rem;
    justify-content: space-around;
  }
  &__formTxtArea{
    justify-content: center;
  }
  &__mensaje{
    resize: none;
    width: 80%;
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2rem;
    background-image:img-url('bujia-panel.png');
    background: {
      repeat: no-repeat;
      position: center;
    };
    border: 2px solid map-get($color-pages, color-azul);
    &:focus{
      border: 2px solid map-get($color-pages, color-verde);
      background: transparent;
    }
  }
  &__nameEmpresa,
  &__namePersona,
  &__telefono,
  &__email,
  &__mensaje{
    font-size: 1.5rem;
    padding: .5rem 1rem;
    outline: none;
    color: map-get($color-pages, color-verde);
    background-color: transparent;
    &::placeholder{
      font-size: 1rem;
      color: map-get($color-pages, color-azul);
    }
  }
  &__nameEmpresa,
  &__namePersona,
  &__telefono,
  &__email{
    width: 350px;
    height: 40px;
    border: none;
    border-bottom: 2px solid map-get($color-pages, color-azul);
    &:focus{
      border-bottom: 2px solid map-get($color-pages, color-verde);
    }
  }
  &__btn{
    text-transform: uppercase;
    align-self: center;
    margin: 2rem 0;
  }
  &__contactenos{
    background-image: img-url('nubes.png');
    background: {
      size: cover;
      position: bottom center;
      repeat: no-repeat;
    };
  }
  &__redes-container,
  &__mapContainer{
    width: 50%;
  }
  &__map{
    width: 100%;
    height: 100%;
  }
  &__redes-container,
  &__mapContainer{
    background-color: rgba(0, 0, 0, .8);
  }
  &__redes-container{
    padding-bottom: 2rem;
  }
  &__title,
  &__subtitle{
    text-transform: capitalize;
  }
  &__title{
    text-align: center;
    font-size: 2rem;
    padding-top: 2rem;
  }
  &__linea{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
  }
  &__subtitle{
    align-self: flex-start;
    margin: 0 4rem;
  }
  &__description{
    margin-left: 6rem;
    padding: 1rem;
    font-size: 1.2rem;
  }
  &__title,
  &__subtitle,
  &__description{
    color: white;
  }
  &__icons{
    color: map-get($color-pages, color-verde);
    margin-right: .5rem;
  }
}