.paneles-type{
  background-color: map-get($color-pages, color-grey);
}
.panel{
  font-family: Arial, Helvetica, sans-serif;
  padding: 4rem 0;
  border-bottom: 2px solid grey;
  &__img-container,
  &__information{
    width: 50%;
  }
  &__title{
    text-transform: uppercase;
  }
  &__linea{
    width: 100%;
    margin-bottom: 3rem;
  }
  &__subtitle{
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1rem;
  }
  &__respuesta{
    margin-left: 1rem;
    font-weight: lighter;
  }
  &__price{
    font-size: 2rem;
    margin-left: 1rem;
    color: map-get($color-pages, color-azul);
  }
  &__titlePrice{
    color:black;
    text-transform: capitalize;
    margin-top: 1rem;
  }
}