$rutaImg: '../img/';

$color-pages:(
  color-azul:#1c79be,
  color-naranja:#fda800,
  color-verde: #6dc82b,
  color-celeste:#23a9e6,
  color-grey:#e6e6e6,
  color-grey-opacity:#f3f1f1ee,
  color-celeste-oscuro:#215b75,
  color-amarillo: #e3e052,
  color-amarillo-oscuro: #bcba00,
  color-red: red
);