$rutaImg: '../img/';

$color-pages:(
  color-azul:#1c79be,
  color-naranja:#fda800,
  color-celeste:#23a9e6,
  color-grey:#e6e6e6,
  color-celeste-oscuro:#215b75,
  color-amarillo: #e3e052,
  color-amarillo-oscuro: #bcba00
);